.home{
   width: 100%;
    height: 70vh;
    background-position: center center;
    background-size: cover;
    min-height:100%;
     background:linear-gradient(0deg,   #F2EFE4,rgba(240, 234, 240, 0.829),  rgba(255, 255, 255, 0.295),#F2EFE4), url(../img/bg.jpg);
    background-size:cover;
.con{
 width: 88%;
 margin: auto;
.home-1{
  padding-top: 3rem;
.menu{
   
 .nav{
     padding-top: .5rem;
     .ul{
         li{
             padding-left: 10px;
             list-style: none;
             a{
                 font-family: Arial, Helvetica, sans-serif;
                 font-size: 18px;
                 color: black;
                 text-decoration: none;
                 &:hover{
                   text-decoration: underline;
                 }
             }
         }
     }
 
 }
.lg{
  img{
        max-width: 100px;
       
        margin-right: 1rem;

    }
}
.icon{

    i{
       padding: 0.6rem 1rem;
       font-size: 25px;
   
    }
 
}
}

.sign{
  padding-left: 1rem;

    i{
        padding-top: 15px;
        padding-left: 1rem;
    }
    
  form{
    a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 18px;
        transition: .4s;
        &:hover{
          text-decoration: underline;
        }
    }
    input{
        margin-left: 2rem;
        border: none;
        font-size: 18px;
        border-radius: 12mm;
        color: white;
        background-color: black;
        padding: 10px 1.8rem;
        transition: .3s ease-in-out;
        &:hover{
            background-color: goldenrod;
        }


  }
  }
 
}
}
.text-home{
    padding-top: 4rem;
   
    .text-box{
        h1{
            font-size: 80px;
           font-family: Georgia, 'Times New Roman', Times, serif;
        }
        p{
           font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
            padding-top: 1rem;
        }
    }
    button{
        border: none;
        border-radius: 12mm;
        color: white;
        background-color: black;
        padding: 10px 1.5rem;
        font-size: 20px;
        transition: .3s ease-in-out;
        &:hover{
            background-color: goldenrod;
        }
    }
}
}
}