.sign-in{
    width: 100%;
    height: 100vh;

background:linear-gradient(0deg,  #F2EFE4,rgba(240, 234, 240, 0.829), rgba(255, 255, 255, 0.295),#F2EFE4), url(../img/bg2.jpg);
  background-size: cover;
background-position: center center;

    .box{
        display: block;
       text-align: center;
    .logo{
          padding-top: 3rem;
         img{
             width: 100px;
         }
       }
       .txt{
           padding-top: 6rem;
           h1{
               font-size: 75px;
               font-family: Georgia, 'Times New Roman', Times, serif;
           }
           span{
               font-family: Verdana, Geneva, Tahoma, sans-serif;
               font-size: 12px;
               color: rgb(58, 57, 57);
           }
       }
       .input-area{
           form{
               input{
                   margin-top: 10px;
                   width: 43%;
                   padding:1.5rem 1.5rem;
                   border-radius: 12mm;
                   outline: none;
                   border: 1px solid rgb(190, 186, 186);
                   background-color: #ece7d1;
                   transition: .5s;
                   text-align: center;
                   font-size: 20px;
                   &:hover{
                       background-color: #fff;
                   }

               }
               button{
                   margin-top: 2rem;
                   border: none;
                   border-radius: 12mm;
                   color: white;
                   background-color: black;
                   padding: 10px 1.5rem;
                   font-size: 20px;
                   transition: .3s ease-in-out;
                   &:hover{
                       background-color: goldenrod;
                   }
               }
              
           }

       }
       .txt-2{
        padding-top: 2rem;
        a,label{
            color: black;
            font-size: 15px;
            text-decoration: none;
            cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
        }
        label{
            font-weight: bold;
        }
    }
    }
}