@import '_feature2.scss';


.home{
    width: 100%;
     height: 100vh;
     background-position: center center;
     background-size: cover;
     min-height:100%;
      background:linear-gradient(0deg, #F2EFE4,#F2EFE4,#F2EFE4,  #F2EFE4,rgba(240, 234, 240, 0.829),  rgba(255, 255, 255, 0.295)), url(../img/kobu.jpg);

     background-size:cover;
 .con{
  width: 88%;
  margin: auto;
 .home-1{
   padding-top: 3rem;
 .menu{
    
  .nav{
      padding-top: .5rem;
      .ul{
          li{
              padding-left: 10px;
              list-style: none;
              a{
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 18px;
                  color: black;
                  text-decoration: none;
                  &:hover{
                    text-decoration: underline;
                  }
              }
          }
      }
  
  }
 .lg{
   img{
         max-width: 100px;
        
         margin-right: 1rem;
 
     }
 }
 .icon{
 
     i{
        padding: 0.6rem 1rem;
        font-size: 25px;
    
     }
  
 }
 }
 
 .sign{
   padding-left: 1rem;
 
     i{
         padding-top: 15px;
         padding-left: 1rem;
     }
     
   form{
     a{
         text-decoration: none;
         font-family: Arial, Helvetica, sans-serif;
         color: black;
         font-size: 18px;
         transition: .4s;
         &:hover{
           text-decoration: underline;
         }
     }
     input{
         margin-left: 2rem;
         border: none;
         font-size: 18px;
         border-radius: 12mm;
         color: white;
         background-color: black;
         padding: 10px 1.8rem;
         transition: .3s ease-in-out;
         &:hover{
             background-color: goldenrod;
         }
 
 
   }
   }
  
 }
 }
 .text-home{
     padding-top: 4rem;
    position: relative;
     .text-box{
         position: absolute;
      left: 47%;
      transform: translateX(-47%);

         h1{
             font-size: 80px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
         }
         p{
            font-family:Arial, Helvetica, sans-serif;
             font-size: 25px;
             font-weight: bold;
             padding-top: 4rem;
         }
         .icon{
            font-size: 70px;
            text-align: center;
            padding-top: 5rem;
            
         }
     }
    
 }
 }
 }

 .foot{
    height: 66vh;
    margin-top: 5rem;
    background: #F2EFE4;
.con{
    width: 88%;
    margin: auto;
 

.foot-h{
    .foot-txt{
        h1{
            font-size: 50px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    .foot-input{
      
        input{
            border: 1px gray solid;
            padding: 1.5rem 3rem ;
            width: 110%;
            border-radius: 15mm;
            background-color: #E8E5D6;
            outline: none;
            &::placeholder{
                color: black;
                font-size: 20px;
              
            }
        }
        .i-btn{
            position: relative;
           button{
            position: absolute;
            bottom: 26%;
            transform: translateY(-26%);
            left: 65%;
            border: none;
            padding: 10px 2.2rem;
            color: white;
            background: #000;
            border-radius: 12mm;
            font-size: 20px;
            &:hover{
                background: goldenrod ;
            }
       
           }
        }
    }
}
hr{
    margin-top: 3rem;
}
.foot-lg{
    margin-top: 3rem;
    img{
        max-width: 100px;
    }
}
.foot-box{
  
    margin-top: 1.8rem ;
    .f-b{
        .head{
        p{font-family: monospace;
            font-size: 13px;
        }
        }
        line-height: 2.5rem;
        ul{
            li{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 15px;
                cursor: pointer;
                transition: .5s;
              &:hover{
                text-decoration: underline;
                
              }
               i{
                   margin-right: 8px;
               }
            }
        }
    }
}
.end-a{
    margin-top: 3rem;
  a{
    text-decoration: none;
    color: rgb(70, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  
  }
}
}
}