.search{
    width: 100%;
    height: 100vh;
    background:linear-gradient(0deg,#fff,rgb(240, 234, 240),  rgba(255, 255, 255, 0.295),#fff,), url(../img/bg.jpg);
    background-size:cover;
    background-position: center center;
    .con{
 width: 93%;
 margin: auto;
    
    .icon{
    text-align: end;
  
    font-size: 50px;
    cursor: pointer;
 
    }
.input-area{
  text-align: center;

input{
  border: none;
  width: 70%;
  font-size: 80px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 4rem 0 2rem ;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid gray;
  &::placeholder{
     font-family: Georgia, 'Times New Roman', Times, serif ;
     font-style: italic;
     font-size: 80px;
     color: black;

  }


}

}
.txt{
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 11px;
        padding-left: 11.7rem;
        padding-top: 5px;
        color: rgb(56, 55, 55); 
        letter-spacing: 3px; 
     }
}
 
}
}